:root {
   
    line-height: 1.5;
    font-weight: 400;

}
#root {
    max-width: 1280px;
    margin: 60px;
    padding: 2rem;
    text-align: center;
}


body {
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
        background-color: #f3eab7;
        color: #3a7895;
        margin: 0;
        padding: 0;
}

h1,
h2,
h3 {
    color: #3a7895;
}
h1 {
    display: flex;
    align-self: flex-start;
    font-size: 3.0em;
    line-height: 1.1;
}
a {
    text-decoration: none;
    color: #3a7895;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

button {
background-color: #3a96d3;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;

}

input {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 4px;
}

.input:hover {
    border-color: blue;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}